<table>
    <% for (let d in data) { %>
        <tr>
            <td>
                <a href="/decrypt/<%= data[d].address %>" target="_blank">
                    <%= data[d].address %>
                </a>
            </td>
        </tr>
    <% } %>
</table>